<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="LUVFIT- Gym Trainer & Fitness HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flex Fusion- Gym Assitant</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="font-awesome/all.min.css" />
    <link rel="stylesheet" href="flaticon/flaticon.css" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="select2/select2.css" />
    <link rel="stylesheet" href="owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="swiper/swiper.min.css" />
    <link rel="stylesheet" href="animate/animate.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <!--=================================
    header -->
    <header class="header default">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 header-left-bg d-none d-lg-block">
                    <a class="desktop-logo" href="/">
                        <img class="img-fluid logo" src="icon/fitness.png" alt="logo">
                    </a>
                </div>
                <div class="col-lg-9 header-right-bg">
                    <div class="topbar">
                        <div class="d-block d-md-flex align-items-center text-center">
                            <div class="me-3 d-inline-block">
                                <a href="#"><i class="far fa-envelope text-secondary pe-1"></i> info@flexfusion.com</a>
                            </div>
                            <div class="me-auto d-inline-block">
                                <a href="tel:1-800-555-1234"><i class="fas fa-phone-volume pe-1 text-secondary"></i> +91 1234567890 </a>
                            </div>
                            <div class="social d-inline-block">
                                <ul class="list-unstyled">
                                    <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
                                    <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
                        <a class="navbar-brand" href="/">
                            <img class="img-fluid logo" src="icon/fitness.png" alt="logo">
                        </a>
                        <div class="navbar-collapse collapse justify-content-center">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/workout">Work Out</a></li>
                                <li class="nav-item"><a class="nav-link" href="/fitness">Fitness</a></li>
                                <li class="nav-item"><a class="nav-link" href="/healthtips">Health Tips</a></li>
                                <li class="nav-item"><a class="nav-link" href="/contact-us">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--=================================
     header -->
    <!--=================================
     Modal login -->
    <div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="loginModalLabel">Log in & Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false"> <span> Log in</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true"><span>Register</span></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form class="row mt-4 align-items-center">
                                <div class="mb-3 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="mb-3 col-sm-12">
                                    <input type="Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Sign up</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                                        <li class="me-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a></li>
                                    </ul>
                                </div>
                            </form>
                            <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded mt-5">
                                <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b></div>
                                <form class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-skew bg-facebook d-block mb-3 text-white" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form class="row mt-4 mb-5 align-items-center">
                                <div class="mb-3 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="mb-3 col-sm-12">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="mb-3 col-sm-12">
                                    <input type="Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="mb-3 col-sm-12">
                                    <input type="Password" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Sign up</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                                        <li class="me-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a></li>
                                    </ul>
                                </div>
                            </form>
                            <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded mt-5">
                                <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b></div>
                                <form class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-skew bg-facebook d-block mb-3 text-white" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
      Modal login -->
    <!--=================================
    Page title -->
    <section class="page-title bg-holder bg-overlay-black-50" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/08.jpg);">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12 text-center">
                    <h1 class="text-stroke-primary display-2 fw-bold text-uppercase">Contact Us</h1>
                    
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Page title -->
    <!--=================================
    contact -->
    <section class="space-ptb">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-lg-4 col-md-5 mb-4 mb-md-0">
                    <div class="bg-primary p-4 p-sm-5 me-lg-n5 position-relative z-index-1">
                        <h4>Need assistance? please complete the contact form</h4>
                        <form class="mt-4"  action="/contact" method="post">
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <input type="text" class="form-control" placeholder="Name" name="name">
                                </div>
                                <div class="mb-3 col-12">
                                    <input type="email" class="form-control" placeholder="Email" name="email">
                                </div>
                                <div class="mb-3 col-12">
                                    <input type="text" class="form-control" placeholder="Phone Number" name="number">
                                </div>
                                <div class="mb-3 col-12 mb-0">
                                    <textarea rows="4" class="form-control" placeholder="Message" name="message"></textarea>
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="d-grid">
                                        <!-- <a class="btn btn-secondary" type="submit"> <span> Submit </span> </a> -->
                                        <button class="btn btn-secondary" type="submit" >Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="map">
                        <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.84916296526!2d77.6309395!3d12.9539974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1686068048038!5m2!1sen!2sin" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
     contact -->
    
    <!--=================================
    footer-->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer-bottom mt-0">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="mb-0 text-white"> &copy;Copyright <span id="copyright">
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Flexfusion- </a> All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer-->
    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
        <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="jquery-3.6.0.min.js"></script>
    <script src="popper/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="jquery.appear.js"></script>
    <script src="counter/jquery.countTo.js"></script>
    <script src="select2/select2.full.js"></script>
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="jarallax/jarallax.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 14:47:20 GMT -->
</html>
