<%-include("includes/head.ejs",{title:"flexfusion fitness"})%>
<body>
    <%-include("includes/header.ejs")%>
    <!--=================================
    Page title -->
    <section class="page-title bg-holder bg-overlay-black-50" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/07.jpg);">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12 text-center">
                    <h1 class="text-stroke-primary display-2 fw-bold text-uppercase">FITNESS</h1>
                    
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Page title -->
    <!--=================================
    Trainers single -->
    <section class="space-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <h3>Fitness Tips for Your 30s</h3>
                    <p><span style="font-weight: 400;">As you enter your 30s, you realize that your body is changing. The weight does not come off as easily as it did in your heyday. Fat begins to accumulate quickly, and your metabolism rate starts slowing down. Moreover, your personal and professional responsibilities do not even let you find the time to focus on proper diet and exercise. With such difficulties, it&#8217;s almost as if losing your hard-earned health and </span>fitness<span style="font-weight: 400;"> is an inevitable part of the process of aging. But wait, it doesn&#8217;t have to be this way! </span></p>
                    <p><span style="font-weight: 400;">If you&#8217;re in your 30s, all you have to do is follow simple </span>tips<span style="font-weight: 400;"> like: </span></p>
                    <ul>
                        <li>Plan shorter training sessions to make your exercise time efficient</li>
                        <li>Perform full-body workouts instead of going for chest, legs, etc. separately</li>
                        <li>Go for walking, jogging, or running at least five days a week</li>
                        <li>Include circuit training, i.e., 5-10 different exercises to build endurance</li>
                        <li>Incorporate swimming, climbing, and other similar activities in your daily schedule</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/HfYEq9oXMB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-5">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/XXco_A1Q2gA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 mt-4">
                    <h3>Fitness Tips for Your 40s</h3>
                    <p><span style="font-weight: 400;">Logic dictates that if you keep healthy in your 30s, your 40s will prove to be quite a breeze for you. However, your risk of developing lifestyle diseases like diabetes and blood pressure in this decade would be a little higher than before. This is why you will have to remedy the effect of age-related health issues with a proper diet and exercise routine. By following the </span>fitness tips<span style="font-weight: 400;"> mentioned below, your body&#8217;s ability to fight these illnesses off will be stronger.</span></p>
                    <p><span style="font-weight: 400;">The major </span>tips<span style="font-weight: 400;"> that every </span>man<span style="font-weight: 400;"> and </span>woman<span style="font-weight: 400;"> needs to follow in their 40s are: </span></p>
                    <ul>
                        <li><span style="font-weight: 400;">Take at least a day off to get adequate rest between your workout sessions</span></li>
                        <li>Begin resistance training and focus on different bands of body muscles</li>
                        <li>Make sure that your routine includes stability, loading, and flexibility exercises</li>
                        <li>Apart from cardio, don&#8217;t forget to target joint mobility and posture alignment</li>
                        <li>Include activities like walking to your office, taking the stairs instead of the elevator, etc. in your regular schedule</li>
                    </ul>
                </div>

                <div class="col-lg-6 mb-4 mb-lg-0">
                    <h3>Fitness Tips for Your 50s</h3>
                    <p><span style="font-weight: 400;">The 50s are largely considered by many </span>men<span style="font-weight: 400;"> and </span>women<span style="font-weight: 400;"> to be their &#8216;golden age&#8217;. This is the time when you are finally reaping the results of everything that you spent your whole life accomplishing on a personal and professional level. Your retirement years are about to begin, and you have walked much farther in your life&#8217;s journey. Nevertheless, instead of being complacent in these relaxing times, use this era to beef up your </span>fitness<span style="font-weight: 400;"> credentials. While your muscle mass and bone density might naturally dwindle, you will have to ensure that your exercising regimen includes quality over quantity. </span></p>
                    <p><span style="font-weight: 400;">The </span>fitness tips<span style="font-weight: 400;"> you must adhere to during this decade are: </span></p>
                    <ul>
                        <li><span style="font-weight: 400;">Go for exercises which strengthen your body&#8217;s complete range of motion</span></li>
                        <li>Do not rush through your workout sessions &#8211; take it slow</li>
                        <li>Ensure that you warm-up and cool down before and after every training session</li>
                        <li>Club resistance training with cardio for improving your muscle mass</li>
                        <li>Limit your exercising schedule to about 3 to 4 days per week. Take proper rest and get enough sleep on the remaining days.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/R5v_2269xe0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
     Trainers single -->
    <!--=================================
    Classes -->
    <section class="space-ptb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center">
                        <h2>Stay Fit</h2>
                    </div>
                </div>
            </div>
            
    </section>
    <!--=================================
    Classes -->

   
    <!--=================================
    footer-->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer-bottom mt-0">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="mb-0 text-white">
                            &copy;Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> <a href="#"> flexfusion </a> All Rights Reserved
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer-->
    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
        <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="jquery-3.6.0.min.js"></script>
    <script src="popper/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="jquery.appear.js"></script>
    <script src="counter/jquery.countTo.js"></script>
    <script src="select2/select2.full.js"></script>
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="jarallax/jarallax.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 14:47:20 GMT -->
</html>
