<%-include("includes/head",{title:"Health_tips"})  %>

<body>
    <%-include("includes/header.ejs")%>
    <section class="page-title bg-holder bg-overlay-black-50" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/06.jpg);">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12 text-center">
                    <h1 class="text-stroke-primary display-2 fw-bold text-uppercase">Health Tips</h1>
                    <nav aria-label="breadcrumb">
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Page title -->
    <!--=================================
    Faq -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="accordion-title mb-0">
                                    <button class="btn btn-link d-flex align-items-center ms-auto" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">01) Weight Loss <i class="fas fa-chevron-down fa-xs ms-auto"></i></button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show accordion-content" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <h3>Things you can do to lose weight</h3>
                                    <p>You do not have to do everything at once, try one thing at a time and find what works for you.</p>
                                    <ul class="nhsuk-list nhsuk-list--tick">

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="x57ek">get active for 150 minutes a week – you can break this up into shorter sessions</p>
                                        </li>

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="otqlp">aim to get your 5 A Day – 80g of fresh, canned or frozen fruit or vegetables count as 1 portion</p>
                                        </li>

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="otqlp">aim to lose 1 to 2lbs, or 0.5 to 1kg, a week</p>
                                        </li>

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="otqlp">read food labels – products with more green colour coding than amber and red are often a healthier option</p>
                                        </li>

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="otqlp">swap sugary drinks for water – if you do not like the taste, add slices of lemon or lime for flavour</p>
                                        </li>

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="otqlp">cut down on food that&#x27;s high in sugar and fat – start by swapping sugary cereal for wholegrain alternatives</p>
                                        </li>

                                        <li>
                                            
                                                
                                            
                                            <p data-block-key="otqlp">share your weight loss plan with someone you trust – they can help motivate you when you have a bad day</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="accordion-title mb-0">
                                    <button class="btn btn-link d-flex align-items-center ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">02) Gain Weight <i class="fas fa-chevron-down fa-xs ms-auto"></i></button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse accordion-content" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <ul class="nhsuk-list nhsuk-list--tick">

                                        <li>
                                            
                                            <p data-block-key="zyod1">gain weight gradually by adding healthy calories — adults could try adding around 300 to 500 extra calories a day</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">eat smaller meals more often, adding healthy snacks between meals</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">add extra calories to your meals with cheese, nuts, and seeds</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">have high-calorie drinks in between meals, such as milkshakes</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">have a balanced diet – choose from a variety of food groups, such as fruit and vegetables, starchy carbohydrates and dairy and alternatives</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">add protein to your meals with beans, pulses, fish, eggs and lean meat</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">have snacks that are easy to prepare, such as yogurt or rice pudding</p>
                                        </li>

                                        <li>
                                            
                                            <p data-block-key="rwuwo">build muscle with strength training or yoga – exercise can also improve your appetite</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingthree">
                                <h5 class="accordion-title mb-0">
                                    <button class="btn btn-link d-flex align-items-center ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">03) Healthy Eating Tips <i class="fas fa-chevron-down fa-xs ms-auto"></i></button>
                                </h5>
                            </div>
                            <div id="collapsethree" class="collapse accordion-content" aria-labelledby="headingthree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <ul class="ps-3">
                                        <li class="mb-2">Bump Up Fiber</li>
                                        <li class="mb-2">Increase Calcium and Vitamin D</li>
                                        <li class="mb-2">Add More Potassium</li>
                                        <li class="mb-2">Limit Added Sugars </li>
                                        <li class="mb-2">Replace Saturated Fats</li>
                                        <li class="mb-2">Cut Back on Sodium</li>
                                        <li class="mb-2">Aim for a Variety of Colors</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 mt-5 mt-md-0">
                    <div class="blog-sidebar sidebar">
                        
                        <div class="widget bg-secondary p-4 p-sm-5">
                            <div class="widget-title">
                                <h6 class="text-white">Submit your question</h6>
                            </div>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                                </div>
                                <div class="mb-0 d-grid">
                                    <button type="submit" class="btn btn-primary"> <span> Submit </span> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Faq -->

    <!--=================================
    footer-->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer-bottom mt-0">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="mb-0 text-white">
                            &copy;Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> <a href="#"> flexfusion </a> All Rights Reserved
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer-->
    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
        <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="jquery.appear.js"></script>
    <script src="counter/jquery.countTo.js"></script>
    <script src="select2/select2.full.js"></script>
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="jarallax/jarallax.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 14:47:20 GMT -->
</html>
