<%-include("includes/head.ejs",{title:"flexfusion home"})%>
  <body>
  <%-include("includes/header.ejs")%>
    <section class="banner-home">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swipeinner">
              <div class="banner bg-holder bg-overlay-secondary-70" data-jarallax='{"speed": 0.6}' style="background-image: url(images/slider/01.jpg);">
                <div class="container">
                  <div class="row g-0">
                    <div class="col-12 position-relative">
                      <div class="banner-content">
                        <h1 class="text-uppercase text-white banner-title" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.4s">Stay Fit<span class="d-block text-stroke-primary">Stay Healthy</span></h1>
                        
                      </div>
                      <div class="banner-image">
                        <img class="img-fluid" src="slider/1.jpg" alt="">
                      </div>
                      <div class="banner-shape" data-swiper-animation="bounceIn" data-duration="1s" data-delay="1.5s">
                        <img class="img-fluid" src="slider/round-shape.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swipeinner">
              <div class="banner bg-holder bg-overlay-secondary-70" data-jarallax='{"speed": 0.6}' style="background-image: url(images/slider/12.jpg);">
                <div class="container">
                  <div class="row g-0">
                    <div class="col-12 position-relative">
                      <div class="banner-content">
                        <h1 class="text-uppercase text-white banner-title" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.4s">Fight for, <span class="d-block text-stroke-primary">Fitness</span></h1>
                        
                      </div>
                      <div class="banner-image">
                        <img class="img-fluid" src="slider/2.jpg" alt="">
                      </div>
                      <div class="banner-shape" data-swiper-animation="bounceIn" data-duration="1s" data-delay="1.5s">
                        <img class="img-fluid" src="slider/round-shape.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!--=================================
    banner -->

    <!--=================================
    Features -->
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="section-title text-center">
              <span class="sub-title text-secondary"><span class="title-shape me-2"></span> Why choose us?</span>
              <h2>Our key features See some</h2>
            </div>
          </div>
        </div>
        <div class="row pb-0 mb-0 pb-md-5 mb-md-4 position-relative">
          <div class="col-12">
            <div class="owl-carousel owl-nav-bottom" data-animateOut="fadeOut" data-nav-arrow="true" data-items="3" data-md-items="3" data-sm-items="2" data-xs-items="2" data-xx-items="1" data-space="30">
              <div class="item">
                <div class="mb-4 mb-lg-0 text-center">
                  <img class="img-fluid" src="c:\Users\Dell\Desktop\nw\R.jpeg" alt="">
                  <h3 class="mt-4">Get in the groove</h3>
                  <p class="font-md mt-3">Use a past defeat as a motivator. Remind yourself you have nowhere to go except up as you have already been at the bottom only thing stopping you is yourself.</p>
                </div>
              </div>
              <div class="item">
                <div class="mb-4 mb-lg-0 text-center">
                  <img class="img-fluid" src="about/02.jpg" alt="">
                  <h3 class="mt-4">It’s More Than a Game</h3>
                  <p class="font-md mt-3">Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! Why?</p>
                </div>
              </div>
              <div class="item">
                <div class="mb-4 mb-lg-0 text-center">
                  <img class="img-fluid" src="about/03.jpg" alt="">
                  <h3 class="mt-4">Get fit don’t quit</h3>
                  <p class="font-md mt-3">For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline.</p>
                </div>
              </div>
              <div class="item">
                <div class="mb-4 mb-lg-0 text-center">
                  <img class="img-fluid" src="about/04.jpg" alt="">
                  <h3 class="mt-4">Work your butt off</h3>
                  <p class="font-md mt-3">For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-box-border">
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Features -->

    <!--=================================
    About -->
    <section class="bg-light bg-overlay-left">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-end mt-5 mt-md-0 position-relative">
            <img class="img-fluid" src="about/04.png" alt="">
          </div>
          <div class="col-md-6 order-0 order-sm-2">
            <div class="space-ptb">
              <div class="section-title">
                <span class="sub-title text-secondary"><span class="title-shape me-2"></span> About our company</span>
                <h2>Who we are and what we do</h2>
                <p class="pre-title">The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing.</p>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-box d-flex p-3 px-4 align-items-center mb-1 active">
                    <i class="flaticon-treadmill-1 font-xxxl"></i>
                    <h6 class="ms-4 mb-0">Modern equipment</h6>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-box d-flex p-3 px-4 align-items-center mb-1">
                    <i class="flaticon-tank-top font-xxxl"></i>
                    <h6 class="ms-4 mb-0">Coaches champions</h6>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-box d-flex p-3 px-4 align-items-center mb-1">
                    <i class="flaticon-lotus font-xxxl"></i>
                    <h6 class="ms-4 mb-0">The area of 7000 m2</h6>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-box d-flex p-3 px-4 align-items-center mb-1">
                    <i class="flaticon-wellness font-xxxl"></i>
                    <h6 class="ms-4 mb-0">Parking for 160 spots</h6>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-box d-flex p-3 px-4 align-items-center mb-1">
                    <i class="flaticon-showers font-xxxl"></i>
                    <h6 class="ms-4 mb-0">Swimming pools available</h6>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-box d-flex p-3 px-4 align-items-center mb-1">
                    <i class="flaticon-water font-xxxl"></i>
                    <h6 class="ms-4 mb-0">Large bar with sports nutrition</h6>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <i><span class="text-secondary">There are basically six key</span> areas to higher achievement. Some people will tell you there are four while others may tell you there are eight.</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    About -->

   

    

  


 

    

    <!--=================================
    footer-->
    <footer class="footer bg-dark">
      <div class="container">
        
        <hr class="m-0" />
        <div class="footer-bottom mt-0">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
              <p class="mb-0 text-white"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> flexfusion </a> All Rights Reserved </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item"><a class="text-white" href="#">Terms & Conditions</a></li>
                <li class="list-inline-item"><a class="text-white" href="#">API Use Policy</a></li>
                <li class="list-inline-item"><a class="text-white" href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    footer-->

    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
      <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="jquery-3.6.0.min.js"></script>
    <script src="popper/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="jquery.appear.js"></script>
    <script src="counter/jquery.countTo.js"></script>
    <script src="select2/select2.full.js"></script>
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="jarallax/jarallax.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="swiper/swiper.min.js"></script>
    <script src="swiperanimation/SwiperAnimation.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="custom.js"></script>

  </body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 14:38:04 GMT -->
</html>
