<%-include("includes/head.ejs",{title:"flexfusion home"})%>

<body>

    <%-include("includes/header.ejs")%>
    <!--=================================
    Page title -->
    <section class="page-title bg-holder bg-overlay-black-50" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/06.jpg);">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12 text-center">
                    <h1 class="text-stroke-primary display-2 fw-bold text-uppercase">Workout Steps</h1>
                    <nav aria-label="breadcrumb">

                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Page title -->
    <!--=================================
    Classes single -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-5">
                    <div class="widget is-sticky">
                        <div class="mb-5">
                            <ul class="categorize list-unstyled">
                                <li><a><span>Workout Steps</span></a></li>
                                <li><a  class="active" href="/wbeg"><span>Workout For Beginners</span></a></li>
                                <li><a href="/wintermed"><span>Workout For Intermediate</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mb-4 mb-sm-5">
                        
                        <h5>Work Out for Beginners</h5>
                        <p>Going to the gym for the first time doesn’t need to be daunting. We offers some beginner workouts to help you feel confident and get the most out of your gym time.</p>
                        <p>Everyone has different reasons for joining a gym but for anyone just starting out on their journey, understanding how to use equipment effectively can be confusing. These beginner gym workouts are ideal for various goals, whether you want to lose weight or burn fat, build muscle and strength, or improve your fitness.
                        <br /><br />
Your gym membership will include an induction with an expert personal trainer, so make the most of this time with them. The gym staff are really helpful and friendly so they can show you how to do the exercises and answer any questions.</p>
                        
                        <div class="row mt-xl-4 mt-lg-5 mt-5">
                            <h3>As a beginner, how long should I do the workout for?</h3><p>Start by setting a goal to continue with the workout programme for three months. Creating a long-term exercise routine is all about forming positive habits, which means giving your mind and body the time to adjust to doing something new.</p><p>Each workout should take 45 minutes to an hour and you should always leave 48 hours between workouts to rest and recover properly. A Monday-Wednesday-Friday routine works well for most people.</p><h3>As a beginner, how much weight should I lift?</h3><p>The best thing you can do is start at the lower end of the weight spectrum and work your way up until you reach about 60 to 70% of your max limit (the most amount of weight you can lift for one repetition with good form). That will give you a rough idea of what to start on, allowing you to slowly increase the weight little by little every week.</p>

                            <h3>What are reps and sets?</h3><div><b>Reps:</b> a rep is how many times you repeat a specific exercise</div><p><b>Sets:</b> a set is how many rounds of reps you do.</p><p>So if you lift 10 times on a bench press, that would be ‘one set of 10 reps’. If you took a short break and then did the same again, you’ll have completed ‘two sets of 10 reps’.</p><p>How many reps and sets you go for depends on what you’re trying to achieve. More reps at a lower weight would improve your endurance, while fewer reps at a higher weight would build your muscle mass.</p><p>When it comes to sets, people usually aim for between three to five, depending on how many you can complete without compromising your form.</p>

                            <h3>Tips for each workout</h3>

                            <ul>
                                <li>Go slow&nbsp;–&nbsp;focus on your technique</li>
                                <li>Rest for 60-90 seconds between each set</li>
                                <li>Keep moving when you're resting – a gentle walk around the gym floor will keep your muscles warm and your heart rate up</li>
                                <li>Ideally perform the workout in the order listed, but if equipment is busy then switch the order for convenience.</li>
                            </ul>

                            <h2>Beginner gym workout for females</h2><p>

                                This workout for females is designed to tone the whole body, with a slight emphasis on the legs and glutes (bottom). It’s a myth that women will become bulky if they lift weights. Weight training in fact helps women become stronger, leaner and more toned. Read <a href="#beginnertips" title="Beginner tips">this guide</a> to help you get started.
                            </p>

                            <ul>
                                <li>Seated leg press (10 reps x 3 sets)</li>
                                <li>Seated shoulder press (10 reps x 3 sets)</li>
                                <li>Close grip lat pulldown (10 reps x 3 sets)</li>
                                <li>Bodyweight lunges (10 reps x 3 sets)</li>
                                <li>Full/kneeling press ups (10 reps x 3 sets)</li>
                                <li>Plank (30 secs x 3)</li>
                                <li>Leg raises (10 reps x 3 sets)</li>
                            </ul>

                            <h2>Beginner gym workout for males</h2><p>

                                This workout is designed to help men gain strength and lean mass. This is a full body beginner workout with an extra focus on the arms and core. You'll find by the end of this plan that all your numbers (reps or amount of weight lifted) on the exercises should increase nearly every week and you will have noticed changes in your body shape. Read <a href="#beginnertips" title="Beginner tips">this guide</a> to help you get started.
                            </p>

                            <ul>
                                <li>Seated chest press (10 reps x 4 sets)</li>
                                <li>Seated rows (10 reps x 4 sets)</li>
                                <li>Wide grip lat pulldown (10 reps x 4 sets)</li>
                                <li>Seated leg press (10 reps x 4 sets)</li>
                                <li>Dumbbell seated shoulder press (10 reps x 4 sets)</li>
                                <li>Dumbbell bicep curls (10 reps x 4 sets)</li>
                                <li>Close grip tricep press ups (10 reps x 4 sets)</li>
                                <li>Cable rotations/twists (10 reps x 4 sets)</li>
                                <li>Reverse crunches (10 reps x 4 sets)&nbsp;</li>
                            </ul>

                            <h2>Beginner gym workout for strength</h2><p>

                                The rep range for strength training is 4–6 reps and the idea behind this plan is to exert more energy for less reps (which will mean lifting heavier). If it’s your first time lifting for strength, don’t go too heavy, use a manageable weight for the first few weeks and then increase the load as the weeks go on. Once you think you could lift for 8–10 reps on the same weight, it’s time to increase the weight. Read <a href="#beginnertips" title="Beginner tips">this guide</a> to help you get started.
                            </p>

                            <ul>
                                <li>Barbell push press (6 reps x 4 sets)</li>
                                <li>Goblet squat (6 reps x 4 sets)</li>
                                <li>Dumbbell single arm row (6 reps x 4 sets)</li>
                                <li>Shoulder lateral raise (6 reps x 4 sets)</li>
                                <li>Bench press (6 reps x 4 sets)</li>
                                <li>Pull ups/assisted pull ups (6 reps x 4 sets)</li>
                                <li>Barbell bicep curls (8 reps x 4 sets)</li>
                                <li>Cable overhead tricep extensions (8 reps x 4 sets)</li>
                                <li>
                                    Rotating plank (30 secs x 4)
                                </li>
                            </ul>

                            <h2>Beginner gym workout for fat loss</h2><p>

                                This workout is designed to raise your heart rate and get you sweating. The purpose behind this is to push your cardiovascular fitness – when your heart rate is higher you burn more calories. It also has the added benefit of burning extra calories after you've finished the workout, as your body is still working hard to recover back to its normal state of function. So you're essentially burning more while resting just for training your heart a bit harder during your workout. Read <a href="#beginnertips" title="Beginner tips">this guide</a> to help you get started.
                            </p>

                            <ul>
                                <li>Plate thrusters (15 reps x 3 sets)</li>
                                <li>Mountain climbers (20 reps x 3 sets)</li>
                                <li>Box jumps (10 reps x 3 sets)</li>
                                <li>Walk outs (10 reps x 3 sets)</li>
                                <li>Renegade rows (full plank/kneeling) (10 each side x 3 sets)</li>
                                <li>Press ups (full plank/kneeling) (15 reps x 3 sets)</li>
                                <li>Treadmill 10 min run/steep incline brisk walk (no hands)</li>
                                <li>Supermans (full plank/kneeling) (10 reps x 3 sets)</li>
                                <li>Crunches (10 reps x 3 sets)</li>
                            </ul>
                            <h2>Beginner video session</h2><p>If you're new to fitness, try this 5-minute taster session to work the upper body. For more free workouts from Nuffield Health <a class="" href="https://www.youtube.com/playlist?list=PLl_Z23niMfiO460HQYGzA9z7jey7nqEr2" target="_blank">click here</a>.</p><div class="player ">
                                <div class="player__inner">
                                    <iframe class="player__iframe" src="https://www.youtube.com/embed/znexEkjVu0E?autoplay=0&amp;rel=0" frameborder="0" allowfullscreen height="450px"></iframe>
                                </div>
                            </div>
                            <h2>Beginner gym workout for cardio equipment</h2><p>

                                This mix of steady and interval cardio session with different pieces of equipment will help mix up your workout and stop you getting bored. Applying intervals to your training can really push that cardiovascular fitness and make your heart stronger and efficient. It’s a good way to prep yourself for a <a class="" href="/article/what-is-hiit-training" title="Link: /article/what-is-hiit-training">HIIT class</a> from a breathing point of view. Read <a href="#beginnertips" title="Beginner tips">this guide</a> to help you get started.
                            </p>

                            <ul>
                                <li>5 min treadmill brisk walk (optional incline)</li>
                                <li>5 min rower (steady)</li>
                                <li>1 min run/1 min walk treadmill x 10(easy)/15(medium)/20(hard)</li>
                                <li>10 min stair master (steady)</li>
                                <li>Cross trainer (maintain one pace) – 1 min low effort level/1 min high effort level x 10(easy)/15(medium)/20(hard)</li>
                            </ul>


                            <h2>Beginner gym circuit programme</h2><p>

                                <a class="" href="/article/what-is-circuit-training">Circuit training</a> is a great way to expend more calories and target multiple areas at once especially those with a time limit on their sessions. You’ll find yourself incorporating weights, high cardiovascular fitness, time efficient, muscular strength, muscular endurance, faster recovery and beats boredom. Read <a href="#beginnertips" title="Beginner tips">this guide</a> to help you get started.
                            </p>

                            <ul>
                                <li>2 min rower</li>
                                <li>Alternating side plank (45 secs)</li>
                                <li>Bicep curl to shoulder press (45 secs)</li>
                                <li>Benched tricep dips (45 secs)</li>
                                <li>Squat jumps (45 secs)</li>
                                <li>Press up into superman (full/knees) (45 secs)</li>
                            </ul>


                            <h2>Exercise principles to help reach your goals</h2><p>

                                There are many ways of training and they can all be beneficial depending on your goals.
                            </p><p>

                                However you choose to train, there are some basic things you can do to help get the most out of your workouts.
                            </p>

                            <ol>
                                <li><b>Pay attention to what you eat</b> – if your goal is fat loss just remember the basic principle is move more than you consume. This is the simple formula which a lot of people complicate when it comes to weight loss. If you’re training for muscle gain, the types of food you eat are also very important, for example, foods high in protein. And what you eat <a class="" href="/article/what-to-eat-before-a-workout" title="Eating before a workout">before</a> and <a class="" href="/article/what-to-eat-after-a-workout" title="Eating after a workout">after</a> your workout can also help with performance and recovery.</li>
                                <li><b>Think about your job</b> – lots of people spend most of their day sat down. So when it comes to exercise, standing rather than sitting will have multiple benefits and really help free up any areas that perhaps aren’t getting the movement through the restrictions of your work.</li>
                                <li><b>Warm up properly</b> – when it comes to warming your body up at the start of training, movement-based (also known as dynamic) stretches are best. This means anything that involves not standing still or bringing your heart rate down, for example, lunges, walk outs, simple yoga movements or cardiovascular work such as walking, cross trainer or stair master.</li>
                                <li><b>Don’t forget to cool down</b> – static/slower movement stretches are much better for this part of the workout, it’s a great opportunity to try and unwind and release some of those stiffer areas that you just struggle to loosen up.</li>
                            </ol>

                            <h3>Key takeaway</h3><p>

                                Starting out at the gym, like doing anything new, can be nerve wracking. By following a workout routine from day 1 and getting a bit of support from the fitness experts at your induction, you'll be able to hit the ground running.
                            

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--=================================
     Classes single -->
    <!--=================================
    footer-->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer-bottom mt-0">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="mb-0 text-white">
                            &copy;Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> <a href="#"> flexfusion </a> All Rights Reserved
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer-->
    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
        <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="jquery-3.6.0.min.js"></script>
    <script src="popper/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="jquery.appear.js"></script>
    <script src="counter/jquery.countTo.js"></script>
    <script src="select2/select2.full.js"></script>
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="jarallax/jarallax.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 14:47:20 GMT -->
</html>
