<%-include("includes/head.ejs",{title:"flexfusion home"})%>

<body>

    <%-include("includes/header.ejs")%>
    <!--=================================
    Page title -->
    <section class="page-title bg-holder bg-overlay-black-50" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/06.jpg);">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12 text-center">
                    <h1 class="text-stroke-primary display-2 fw-bold text-uppercase">Workout Steps</h1>
                    <nav aria-label="breadcrumb">

                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Page title -->
    <!--=================================
    Classes single -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-5">
                    <div class="widget is-sticky">
                        <div class="mb-5">
                            <ul class="categorize list-unstyled">
                                <li><a><span>Workout Steps</span></a></li>
                                <li><a href="/wbeg"><span>Workout For Beginners</span></a></li>
                                <li><a class="active" href="/wintermed"><span>Workout For Intermediate</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mb-4 mb-sm-5">

                        <h2><strong>Perfect For Those:</strong></h2>
                        <ul>
                            <li>Looking for an effective exercise plan that incorporates both cardiovascular and strength training.</li>
                            <li>Who would like to work out more than 4 days per week.</li>
                            <li>Looking to move past basic movements and incorporate more upper and lower body exercises into their workout regimen.</li>
                            <li>Who are familiar and comfortable using dumbbells, barbells and cables as a way to perform strength training exercises.</li>
                            <li>Longing for workouts that are quick and effective and can be easily built upon as cardiovascular and/or strength increases.</li>
                            <li>Who have access to a greater variety of exercise equipment, such as a gym.</li>
                            <li>Looking to improve overall health and wellness through exercise.</li>
                        </ul>
                    </div>
                    <div class="r-paragraph">
                        <strong>Frequency:</strong> Each can be performed twice a week, however not back to back.<br />
                        (For example: Lower body on Monday, upper body on Tuesday, cardio on Wednesday, repeat and rest.)
                    </div>
                    <div class="r-paragraph"><strong>Warm Up:</strong> Before each day of exercise, walk on a treadmill at a slight incline for 10 minutes. (Treadmill can be replaced with your choice of other zero impact cardio.)</div>
                    <p>&nbsp;</p>
                    <h2 class="r-paragraph" style="font-weight: bold; color: #e41f3d;">Lower Body (Day 1 &amp; 4)</h2>
                    <div class="r-paragraph"><strong>Warm Up:</strong> walk on treadmill at a slight incline for 10 min (Treadmill can be replaced with your choice of other zero impact cardio).</div>
                    <p><strong>Work Out</strong></p>
                    <p>&nbsp;</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>Squat</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Leg Extensions</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Dumbbell Stiff Legged Deadlift</td>
                                <td>3 sets, 10-12 reps each</td>
                            </tr>
                            <tr>
                                <td>Box Step Ups with Dumbbells</td>
                                <td>3 sets, 10 Reps</td>
                            </tr>
                            <tr>
                                <td>Walking Lunges</td>
                                <td>2 sets, 15-20 lunges</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <h2 class="r-paragraph" style="font-weight: bold; color: #e41f3d;">Upper Body (Day 2 &amp; 5)</h2>
                    <p><strong>Work Out</strong></p>
                    <p>&nbsp;</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>Dumbbell Press At A 45-Degree Incline</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Barbell Row</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Dumbbell Lateral Raise</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Wide Grip Cable Pulldown</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Dumbbell Hammer Curl</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                            <tr>
                                <td>Dumbbell Triceps Extension</td>
                                <td>3 sets, 8-10 reps</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <h2 class="r-paragraph" style="font-weight: bold; color: #e41f3d;">Cardio – HIIT (Day 3 &amp; 6)</h2>
                    <div class="r-paragraph">
                        <p><strong>Workout On A Treadmill As Follows (In Minutes):</strong></p>
                        <ul>
                            <li>0-5: Warm up (0 incline)</li>
                            <li>5-20: Walk (5-10 incline)</li>
                            <li>20-21: Sprint (0 incline)</li>
                            <li>21-22: Recover (0 incline)</li>
                            <li>22-23: Sprint (0 incline)</li>
                            <li>23-24: Recover (0 incline)</li>
                            <li>24-25: Sprint</li>
                            <li>25-26: Recover</li>
                            <li>26-27: Sprint</li>
                            <li>27-28: Recover</li>
                            <li>28-29: Sprint</li>
                            <li>29-30: Recover</li>
                            <li>30-35: Cool down walk</li>
                        </ul>
                        <p>This should be done 2 times a week, but you may want to add in steady state cardio on 2-3 additional days.</p>
                    </div>
                    <h2 class="r-paragraph" style="font-weight: bold; color: #e41f3d;">Rest (Day 7)</h2>
                    <div class="r-paragraph">
                        <p>Take off a day to allow your body to fully recover before starting off a new week.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
     Classes single -->
    <!--=================================
    footer-->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer-bottom mt-0">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="mb-0 text-white">
                            &copy;Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> <a href="#"> flexfusion </a> All Rights Reserved
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer-->
    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
        <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="jquery-3.6.0.min.js"></script>
    <script src="popper/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="jquery.appear.js"></script>
    <script src="counter/jquery.countTo.js"></script>
    <script src="select2/select2.full.js"></script>
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="jarallax/jarallax.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 14:47:20 GMT -->
</html>
